In [3]:
import pandas as pd
import pandana as pdna
import geopandas as gpd
from pathlib import Path
import networkx as nx
import momepy
from itertools import combinations
from shapely.geometry import Point


gdf_roads = gpd.read_file('../data/UKR_networks_fixed.gpkg', layer="roads")
gdf = gpd.read_file("../data/GEODATA.gpkg").to_crs(6383)
gdf = gdf[gdf.admin_level == 1]


# Assume gdf is your GeoDataFrame
gdf['centroid'] = gdf['geometry'].centroid

# Create a list of all combinations of pcode
pcode_combinations = list(combinations(gdf['pcode'], 2))

# Create a DataFrame from the combinations
df = pd.DataFrame(pcode_combinations, columns=['from_pcode', 'to_pcode'])

# Add the centroid geometries
df['from_centroid'] = df['from_pcode'].map(gdf.set_index('pcode')['centroid'])
df['to_centroid'] = df['to_pcode'].map(gdf.set_index('pcode')['centroid'])

def make_graph(gdf: gpd.GeoDataFrame, nodes: str = "nodes", edges: str = "edges") -> nx.Graph:
    G = momepy.gdf_to_nx(gdf, approach="primal")
    nodes, edges, sw = momepy.nx_to_gdf(G, points=True, lines=True, spatial_weights=True)
    #nodes.to_file(out_gpkg, layer=nodes)
    #edges.to_file(out_gpkg, layer=edges)
    G = nx.MultiGraph()
    G.add_nodes_from(nodes.nodeID.unique().tolist())
    for index, row in edges.iterrows():
        G.add_edge(row.node_start, row.node_end, weight=row.length)
    return G, nodes, edges, sw

G, nodes, edges, _ = make_graph(gdf_roads)
display(nodes.head())
display(edges.head())
net = pdna.Network(nodes.geometry.x, nodes.geometry.y, edges.node_start, edges.node_end, edges[["length"]])
net.precompute(3000)

C:\Users\dkerr\Miniconda3\envs\gisrede\lib\site-packages\libpysal\weights\weights.py:224: UserWarning: The weights matrix is not fully connected:
 There are 218 disconnected components.
  warnings.warn(message)

   nodeID                        geometry
0       0  POINT (550265.396 5599118.127)
1       1  POINT (550329.890 5598885.909)
2       2  POINT (559190.887 5593222.167)
3       3  POINT (559370.266 5592902.639)
4       4  POINT (547937.874 5603826.640)

,id,length,geometry,mm_len,node_start,node_end
0,1,243.672813,"LINESTRING (550265.396 5599118.127, 550269.327...",243.672813,0,1
1,1,44.894422,"LINESTRING (550233.796 5599149.983, 550250.715...",44.894422,0,536
2,1,21.242812,"LINESTRING (550329.890 5598885.909, 550333.474...",21.242812,1,84404
3,1,369.206205,"LINESTRING (559190.887 5593222.167, 559196.552...",369.206205,2,3
4,1,72.954659,"LINESTRING (559190.887 5593222.167, 559202.941...",72.954659,2,118425

In [7]:
df

,from_pcode,to_pcode,from_centroid,to_centroid
0,UA01,UA05,POINT (876621.954 5046094.525),POINT (423787.269 5422017.154)
1,UA01,UA07,POINT (876621.954 5046094.525),POINT (151274.690 5675382.053)
2,UA01,UA12,POINT (876621.954 5046094.525),POINT (881673.277 5381967.276)
3,UA01,UA14,POINT (876621.954 5046094.525),POINT (1095549.609 5378690.306)
4,UA01,UA18,POINT (876621.954 5046094.525),POINT (404670.304 5612707.727)
...,...,...,...,...
346,UA73,UA80,POINT (223930.771 5348968.443),POINT (552012.882 5596896.840)
347,UA73,UA85,POINT (223930.771 5348968.443),POINT (828971.348 4959641.242)
348,UA74,UA80,POINT (648524.628 5703271.774),POINT (552012.882 5596896.840)
349,UA74,UA85,POINT (648524.628 5703271.774),POINT (828971.348 4959641.242)
350,UA80,UA85,POINT (552012.882 5596896.840),POINT (828971.348 4959641.242)

In [ ]:
import numpy as np
from scipy.spatial import cKDTree
def ckdnearest(gdf_centroids, gdf_global):
    """Returns nearest neighbours between 1 gdf and another
    Function derived from posting @ https://gis.stackexchange.com/questions/222315/geopandas-find-nearest-point-in-other-dataframe with thanks to user JHuw
    
    Parameters:
    -----------

    gdf_tile    :   gpd.GeoDataFrame
        Point geodataframe of source points (limited to single value - 0 OR 1)

    gdf_global  :   gpd.GeoDataFrame
        Point geodataframe of destination points (limited to single 'data' value opposite to that of gdf_tile (0 OR 1))

    Returns:
    --------

    gdf     :   gpd.GeoDataFrame
        gdf_tile points with additional column of closest point from gdf_global

    """
    gdf_global = gdf_global.rename(columns={'geometry': 'geometry_dst', 'data': 'data_dst'})
    try:
        nA = np.array(list(gdf_centroids.geometry.apply(lambda x: (x.x, x.y))))
        nB = np.array(list(gdf_global.geometry_dst.apply(lambda x: (x.x, x.y))))
        btree = cKDTree(nB)
        dist, idx = btree.query(nA, k=1)
        gdB_nearest = gdf_global.iloc[idx].reset_index(drop=True)
        gdf = pd.concat(
            [
                gdf_tile.reset_index(drop=True),
                gdB_nearest,
                pd.Series(dist, name='dist')
            ], 
            axis=1)
    except ValueError:
        gdf = gpd.GeoDataFrame({'y': [], 'x': [], 'band': [], 'spatial_ref': [], 'data': [], 'geometry': [], 'data_dst': [], 'geometry_dst': [], 'dist': []})
    return gdf