In [13]:
import pandas as pd

df = pd.read_csv("../data/routes_incidents.csv")
df

,from_pcode,to_pcode,euclidean_dist,shortest_path_length,event_date,disorder_type,fatalities_sum
0,UA01,UA05,588538.083069,954515.841,01 April 2022,Strategic developments,0
1,UA01,UA05,588538.083069,954515.841,01 April 2023,Political violence,0
2,UA01,UA05,588538.083069,954515.841,01 August 2022,Political violence,0
3,UA01,UA05,588538.083069,954515.841,01 August 2023,Political violence,5
4,UA01,UA05,588538.083069,954515.841,01 December 2022,Political violence,0
...,...,...,...,...,...,...,...
104932,UA80,UA85,694838.606103,980783.308,31 March 2022,Political violence,0
104933,UA80,UA85,694838.606103,980783.308,31 March 2023,Political violence,0
104934,UA80,UA85,694838.606103,980783.308,31 May 2022,Strategic developments,0
104935,UA80,UA85,694838.606103,980783.308,31 May 2023,Political violence,0
104936,UA80,UA85,694838.606103,980783.308,31 October 2023,Political violence,0

In [2]:
df.columns

Index(['from_pcode', 'to_pcode', 'euclidean_dist', 'shortest_path_length',
       'event_date', 'disorder_type', 'fatalities_sum'],
      dtype='object')

In [11]:
# Drop the 'fatalities' column
df = df.drop(columns='fatalities_sum')

df_grouped = df.groupby(['from_pcode', 'to_pcode', 'euclidean_dist', 'shortest_path_length', 'event_date'])['disorder_type'].value_counts().unstack(fill_value=0).reset_index()

In [14]:
df_grouped.to_csv("GROUPED.csv", index=False)

In [15]:
df_grouped

disorder_type,from_pcode,to_pcode,euclidean_dist,shortest_path_length,event_date,Demonstrations,Political violence,Political violence; Demonstrations,Strategic developments
0,UA01,UA05,588538.083069,954515.841,01 April 2022,0,0,0,1
1,UA01,UA05,588538.083069,954515.841,01 April 2023,0,1,0,0
2,UA01,UA05,588538.083069,954515.841,01 August 2022,0,1,0,0
3,UA01,UA05,588538.083069,954515.841,01 August 2023,0,1,0,0
4,UA01,UA05,588538.083069,954515.841,01 December 2022,0,1,0,0
...,...,...,...,...,...,...,...,...,...
91581,UA80,UA85,694838.606103,980783.308,31 March 2022,0,1,0,0
91582,UA80,UA85,694838.606103,980783.308,31 March 2023,0,1,0,0
91583,UA80,UA85,694838.606103,980783.308,31 May 2022,0,0,0,1
91584,UA80,UA85,694838.606103,980783.308,31 May 2023,0,1,0,0
91585,UA80,UA85,694838.606103,980783.308,31 October 2023,0,1,0,0